In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from source import config

In [27]:
df = pd.read_csv(config.INTERIM_DATA_DIR / 'total vehicle weight grouped by location.csv')

In [28]:
df.head()

,location,3500.0-4465.0,4465.0-5430.0,5430.0-6395.0,6395.0-7360.0,7360.0-8325.0,8325.0-9290.0,9290.0-10255.0,10255.0-11220.0,11220.0-12185.0,...,90350.0-91315.0,91315.0-92280.0,92280.0-93245.0,93245.0-94210.0,94210.0-95175.0,95175.0-96140.0,96140.0-97105.0,97105.0-98070.0,98070.0-99035.0,99035.0-100000.0
0,Skibotn,41511,24190,8899,2720,1109,594,555,503,537,...,10,3,3,1,4,2,0,2,3,3
1,Verdal,25301,5714,3855,2230,1695,1840,2528,2560,3903,...,2,0,0,0,0,0,0,0,1,0
2,Ånestad(vestgående),916,231,85,64,82,56,45,51,55,...,0,0,0,0,1,0,0,0,0,0
3,Ånestad(østgående),980,216,81,43,27,44,43,57,43,...,0,0,0,0,0,0,0,0,0,0
4,Øysand,71573,20826,7455,3955,3542,4575,5803,7326,8377,...,3,1,3,4,0,1,5,2,1,0

In [6]:
from source import config
import os

# Define the directory
image_dir = config.VEHICLE_WEIGHT_FIGURES_DIR_WIM

# List all files in the directory
images = [
    os.path.join(image_dir, file)  # Construct the full file path
    for file in os.listdir(image_dir)
    if any(file.endswith(ext) for ext in ['.png'])
]

# Optionally, sort the files by different criteria
images.sort()  # Sort alphabetically by path (filename)

# Print out the sorted image paths
for img in images:
    print(f'"{str(img).split("/")[-1].strip(".png")}"')

"Totalvekter, Skibotn, barplot, 10 intervaller"
"Totalvekter, Skibotn, barplot, 20 intervaller"
"Totalvekter, Skibotn, barplot, 25 intervaller"
"Totalvekter, Skibotn, lineplot"
"Totalvekter, Verdal, barplot, 10 intervaller"
"Totalvekter, Verdal, barplot, 20 intervaller"
"Totalvekter, Verdal, barplot, 25 intervaller"
"Totalvekter, Verdal, lineplot"
"Totalvekter, samtlige lokasjoner, lineplot"
"Totalvekter, Ånestad(vestgående), barplot, 10 intervaller"
"Totalvekter, Ånestad(vestgående), barplot, 20 intervaller"
"Totalvekter, Ånestad(vestgående), barplot, 25 intervaller"
"Totalvekter, Ånestad(vestgående), lineplot"
"Totalvekter, Ånestad(østgående), barplot, 10 intervaller"
"Totalvekter, Ånestad(østgående), barplot, 20 intervaller"
"Totalvekter, Ånestad(østgående), barplot, 25 intervaller"
"Totalvekter, Ånestad(østgående), lineplot"
"Totalvekter, Øysand, barplot, 10 intervaller"
"Totalvekter, Øysand, barplot, 20 intervaller"
"Totalvekter, Øysand, barplot, 25 intervaller"
"Totalvekter, Øysand, lineplot"