In [3]:
import pandas as pd

In [4]:
df_truck = pd.read_csv('../data/processed/estimated_registrations/otto/final-truck_only.csv')
df_trailer = pd.read_csv('../data/processed/estimated_registrations/otto/final-trailer_only.csv')

In [5]:
def res(df_org):
    df = df_org.copy()
    numeric_df = df.select_dtypes(include=['number'])
    df['Total'] = numeric_df.sum(axis=1)
    total_row = numeric_df.sum(axis=0)
    total_row['Total'] = df['Total'].sum()  # Grand total
    total_df = pd.DataFrame(total_row).T
    total_df.index = ['Total']  # Label the total row
    result_df = pd.concat([df, total_df])
    return result_df

In [6]:
truck_res = res(df_truck)
trailer_res = res(df_trailer)

In [7]:
truck_res.to_csv('../data/processed/estimated_registrations/lastebil.csv', index=False)
trailer_res.to_csv('../data/processed/estimated_registrations/tilhenger.csv', index=False)

In [9]:
print(truck_res.to_latex())

\begin{tabular}{llrrrrrrrrrrrrrrrrr}
\toprule
 & Vei & 2021 60t & 2021 65t & 2021 68t & 2021 74t & 2022 60t & 2022 65t & 2022 68t & 2022 74t & 2023 60t & 2023 65t & 2023 68t & 2023 74t & 2024 60t & 2024 65t & 2024 68t & 2024 74t & Total \\
\midrule
0 & Fv24 S7 & 4 & 10 & 0 & 154 & 4 & 22 & 20 & 316 & 0 & 67 & 109 & 325 & 5 & 80 & 58 & 98 & 1272 \\
1 & Fv24 S8 & 16 & 10 & 0 & 203 & 15 & 25 & 49 & 724 & 4 & 68 & 499 & 964 & 7 & 74 & 255 & 471 & 3384 \\
2 & Fv227 S2 & 13 & 0 & 0 & 11 & 44 & 0 & 219 & 72 & 39 & 2 & 49 & 93 & 0 & 0 & 13 & 13 & 568 \\
3 & Fv1796 S2 & 29 & 0 & 0 & 4 & 15 & 0 & 92 & 14 & 13 & 0 & 36 & 110 & 2 & 0 & 12 & 5 & 332 \\
4 & Fv1798 S2 & 15 & 0 & 0 & 18 & 36 & 0 & 87 & 133 & 22 & 0 & 115 & 341 & 2 & 0 & 32 & 70 & 871 \\
5 & Fv1820 S1 & 17 & 0 & 0 & 21 & 35 & 0 & 162 & 128 & 36 & 0 & 118 & 296 & 0 & 0 & 19 & 59 & 891 \\
6 & Fv1844 S1 & 14 & 17 & 0 & 19 & 28 & 3 & 3 & 27 & 31 & 12 & 11 & 107 & 5 & 3 & 8 & 10 & 298 \\
7 & Fv1900 S1 & 1 & 0 & 0 & 1 & 3 & 0 & 7 & 88 & 23 & 0 & 77 & 146 & 0 & 0 & 6 & 54 & 406 \\
Total & NaN & 109 & 37 & 0 & 431 & 180 & 50 & 639 & 1502 & 168 & 149 & 1014 & 2382 & 21 & 157 & 403 & 780 & 8022 \\
\bottomrule
\end{tabular}

In [10]:
print(trailer_res.to_latex())

\begin{tabular}{llrrrrrrrrrrrrrrrrr}
\toprule
 & Vei & 2021 60t & 2021 65t & 2021 68t & 2021 74t & 2022 60t & 2022 65t & 2022 68t & 2022 74t & 2023 60t & 2023 65t & 2023 68t & 2023 74t & 2024 60t & 2024 65t & 2024 68t & 2024 74t & Total \\
\midrule
0 & Fv24 S7 & 0 & 0 & 0 & 71 & 0 & 0 & 0 & 198 & 0 & 35 & 11 & 198 & 9 & 18 & 27 & 71 & 638 \\
1 & Fv24 S8 & 0 & 0 & 0 & 147 & 0 & 0 & 0 & 553 & 0 & 35 & 41 & 631 & 18 & 18 & 210 & 179 & 1832 \\
2 & Fv227 S2 & 0 & 0 & 0 & 4 & 0 & 0 & 0 & 40 & 0 & 1 & 0 & 27 & 8 & 0 & 11 & 9 & 100 \\
3 & Fv1796 S2 & 0 & 0 & 0 & 3 & 0 & 0 & 0 & 12 & 0 & 0 & 0 & 26 & 12 & 0 & 10 & 1 & 64 \\
4 & Fv1798 S2 & 0 & 0 & 0 & 12 & 0 & 0 & 0 & 51 & 0 & 0 & 0 & 93 & 17 & 0 & 65 & 23 & 261 \\
5 & Fv1820 S1 & 0 & 0 & 0 & 8 & 0 & 0 & 0 & 60 & 0 & 0 & 0 & 71 & 13 & 0 & 49 & 15 & 216 \\
6 & Fv1844 S1 & 0 & 0 & 0 & 9 & 0 & 0 & 0 & 7 & 0 & 2 & 0 & 20 & 34 & 0 & 20 & 4 & 96 \\
7 & Fv1900 S1 & 0 & 0 & 0 & 1 & 0 & 0 & 0 & 67 & 0 & 0 & 13 & 80 & 2 & 0 & 4 & 10 & 177 \\
Total & NaN & 0 & 0 & 0 & 255 & 0 & 0 & 0 & 988 & 0 & 73 & 65 & 1146 & 113 & 36 & 396 & 312 & 3384 \\
\bottomrule
\end{tabular}